version: "3"
services:
  node:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node-rest
    command: bash -c "npm install && npm start"
    restart: always
    volumes: 
      - .:/app
    working_dir: '/app'
    expose: 
      - "4000"
    networks:
      plataformas_services:
        ipv4_address: 10.10.0.22
networks:
  plataformas_services:
    external: true
          
          
